nav
{
    
    height: 50px;
}

heading
{
	background:rgba(0,0,0,0.2);
}
#banner
{
	color: yellow;
	height: 700px;
}

.more
{
	color: black;
	font-weight: 900;
}
nav ul
{
	list-style: none;
	margin: 0;
    float: right;
}

nav ul li
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a
{
	line-height:inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
}

nav .log
{
	float: left;
	line-height: 50px;
	padding: 5px;
}

#banner .inner
{
	max-width: 300px;
	text-align: center;
	margin:  0 auto;
	position: relative;
	top: 200px;

}

#banner .inner h1
{
   margin: 0;
}

 #banner button
{
	border: none;
	background-color: #922561;
	padding: 10px;
}

#banner .inner .more
{
	margin-top: 200px;
}

.sub-heading
{
	line-height: 30px;
	margin: 30px;
}

.log
{
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	color: deepskyblue;

}
a
{
	text-decoration: none;
}
/* 中间部分css */
.green
{
	background-color: #089DB0;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

.wrapper
{
	max-width: 1080px;
	margin: 0 auto;
}
.hr
{
  height: 2px;
  width: 100%;
  margin: 20px auto;
}

.green .hr
{
	background-color: #078954;
	width: 55%;
}

.green .group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	margin: 20px;
	border: 2px solid green;
	background: deepskyblue;
	line-height: 80px;
}
/* 第小二部分 */
 .gray
{
	background: #43666b;
} 
.gray .img-group
{
	width: 45%;
}
.img-group img
{
	width: 100%;
}
.gray .text
{
	width: 55%;
}
.article>div
{
	float: left;
	font-size: 0;

}
.article:nth-child(odd)
{
	background-color: deepskyblue;
}
.article:after
{
 content: "";
 display: block;
 clear: both;
}
.gray .text
{
  	position: relative;
  	top: 68px;
  	left: 50px;
}
.gray .text h2
{

	font-size: 20px;
}
.gray .text p
{
	font-size: 18px;
}
/* 第三小部分 */
.purple
{
	padding: 80px;
	background-color: #3F3965;
	color: #fff;
}
.purple .heading-wrapper
{
	text-align: center;
}
.purple .hr
{
	background: #373259;
	width: 60%;
}
.card-group .card
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 20px;
	-weblit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.card-group:after
{
	 content: "";
	 display: block;
	 clear: both;
}
.card:first-child
{
	background: rgba(155, 255, 255, 0.12);
}
.card:nth-child(2)
{
	background: rgba(155, 255, 255, 0.15);
}
.card:nth-child(3)
{
	background: rgba(155, 255, 255, 0.18);
}
.card:nth-child(4)
{
	background: rgba(155, 255, 255, 0.21);
}
.card:nth-child(5)
{
	background: rgba(155, 255, 255, 0.24);
}
.card:nth-child(6)
{
	background: rgba(155, 255, 255, 0.27);
}

footer
{
	background-color: #333;
	color: white;
	min-height: 200px;
	text-align: center;
}

footer ul
{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 30px;
}
.footer li
{
	display: inline-block;
	padding-left: 10px;
}

.main-wrapper
{
	background: deepskyblue url("../image/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.sider
{
	position: fixed;
	top: 0;
	bottom: 0;
	right: -300px;
	width: 300px;
	background-color: #333;
	color: white;
	padding: 20px 0;
	transition: right 0.6s;
}
.sider ul
{
	list-style: none;
}
.sider ul a
{
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	color: white;
	width: 100%;
}

.mask
{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
}

.backbutton
{
	position: fixed;
	bottom: 30px;
	right: 30px;
	border: 3px solid #666;

}